mixin dealer-block
	section(block="dealer-block")
		.container-fluid
			h2(elem="title") официальный дилер
			strong(elem="subtitle") Компания «Название дилера» — официальный дилер компании Land Rover в России. Мы предлагаем нашим клиентам самые выгодные условия покупки и обслуживания автомобиля
			div(elem="text")
				p Мы предлагаем нашим клиентам самые выгодные условия покупки и обслуживания автомобиля. Для нас это не пустые слова, а повседневная работа. Входя в крупнейший автомобильный холдинг «Название дилера», мы получаем лучшие условия по страхованию и кредитованию от лучших банков и страховых компаний. Приобретая машину по системе Trade In, Вы можете быть уверены, что лучшее предложение Вы получите только у нас.

				p Самый современный сервисный центр позволит Вам быстро и качественно обслужить или отремонтировать автомобиль, а при увеличения срока ремонта мы предоставим Вам подменный или прокатный автомобиль. Специалисты «Название дилера» готовы выполнить ремонт любой сложности по ходовой части

				p Мы предлагаем нашим клиентам самые выгодные условия покупки и обслуживания автомобиля. Для нас это не пустые слова, а повседневная работа. Входя в крупнейший автомобильный холдинг «Название дилера», мы получаем лучшие условия по страхованию и кредитованию от лучших банков и страховых компаний.

				p Многоопытные механики неоднократно прошли обучение в учебном центре Land Rover Service Training на заводе Land Rover. С 1999 года мы занимались ремонтом и подготовкой внедорожников для охоты и туризма, в Русском Охотничьем Клубе. За это время бригада приобрела немалый опыт по тюнингу машин и подготовке спортивных машин к соревнованиям по ралли-рейдам.
			div(elem="buttons-wrap")
				button.button(elem="btn") адреса автоцентров
				a.button__link(elem="btn-link" href="#") узнать больше