footer(block="footer")
	.container-fluid(elem="wrap-items")
		.row.align-items-center.no-gutters
			.col-lg-3.order-lg-3.ml-lg-auto.d-lg-flex.justify-content-lg-center
				div(elem="socials")
					a(elem="socials-item" href="#!")
						div(elem="socials-icon")
							+svg("fb")
						span FaceBook
					a(elem="socials-item" href="#!")
						div(elem="socials-icon")
							+svg("vk")
						span Vkontakte
					a(elem="socials-item" href="#!")
						div(elem="socials-icon")
							+svg("inst")
						span Instagramm
			.col-lg-9.d-none.d-md-block
				.row.no-gutters
					.col-4
						div(elem="menu-links")
							ul
								li
									a(href="#") Спецпредложения
								li
									a(href="#") Запись на тест-драйв
								li
									a(href="#") Запись на сервис
								li
									a(href="#") Конфигуратор
								li
									a(href="#") Обратная связь
								li
									a(href="#") Брошюры
								li
									a(href="#") Новости
								li
									a(href="#") Подписаться на новости
								li
									a(href="#") Программа помощи на дорогах
								li
									a(href="#") Постгарантийный ремонт Land rover
								li
									a(href="#") Вопросы и ответы
								li
									a(href="#") Модельный ряд Land Rover
					.col-4
						div(elem="menu-links")
							ul
								li
									a(href="#") experience
								li
									a(href="#") Корпоративные продажи
								li
									a(href="#") Above & Beyound
								li
									a(href="#") Контакты
								li
									a(href="#") Сервисные предложения
					.col-4
						div(elem="menu-links")
							ul
								li
									a(href="#") Экспедиции 2020 года
								li
									a(href="#") Семейство Land rover
								li
									a(href="#") Семейство Discovery
								li
									a(href="#") Land rover Bar
								li
									a(href="#") Land rover в России
								li
									a(href="#") Экспедиции
								li
									a(href="#") Наследие и ценности
								li
									a(href="#") Инновации и технологии
								li
									a(href="#") Открывая россию
								li
									a(href="#") кругосветное путешествие Land rover
								li
									a(href="#") Жизнь за гранью обыденного
								li
									a(href="#") активация incontrol protect
	.container-fluid
		.row.no-gutters
			.col-12
				ul(elem="links")
					li
						a(href="#") Правовая информация
					li
						a(href="#") Политика конфиденциальности
					li
						a(href="#") Карта сайта
					li
						a(href="#") Контакты
	.container-fluid
		.row
			.col-12
				div(elem="copyright")
					p © ООО “Ягуар Ленд Ровер” 2020
					p MAJOR
