mixin car-stock-block
	section(block="car-stock-block")
		.container-fluid
			.row.no-gutters
				.col-lg-8.order-md-1
					img(src="img/resources/choose-car/image46.jpg", alt="", )
				.col-lg-4
					div(elem="wrapper")
						h3(elem="title") НОВЫЕ автомобили в наличии
						p(elem="text") Посмотрите автомобили, доступные прямо сейчас. Оцените онлайн стоимость своего текущего автомобиля любой марки при покупке в трейд-ин и рассчитайте кредит. Отправьте заявку дилеру или забронируйте выбранный автомобиль на 72 часа, внеся депозит в размере 30 000 руб.
						button.button.button_white(elem="btn") выбрать автомобиль