$font-family-main: "LandRover-Demi";
$font-LR-bold: "LandRover-Bold";
$font-family-second: "AvenirNextCyr";
$bg-white: #E9ECEC;
$bg-white2: #F8F9F9;
$bg-white3: #e8e8e8;
$color-white: #fff;
$color-black: #0c121c;
$color-grey: #4A4F54;
$color-grey2: #444;
$color-grey3: #ccc;
$color-grey4: #e4e8e8;
$color-green: #005A2B;
$rgba-background: rgba(0, 0, 0, 0.1);

// брейкпоинты
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;