mixin contacts
	section(block="contacts")&attributes(attributes)
		.container-fluid
			.row
				.col-lg-4
					div map
				.col-lg-8.map-container
					script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" async)